@font-face {
    font-family: "Flatpen";
    src: url("/resources/assets/fonts/Flatpen_W00_Regular.woff2")
            format("woff2"),
        url("/resources/assets/fonts/Flatpen_W00_Regular.woff") format("woff"),
        url("/resources/assets/fonts/Flatpen_W00_Regular.ttf")
            format("truetype"),
        url("/resources/assets/fonts/Flatpen_W00_Regular.otf")
            format("opentype");
    font-weight: 400;
    font-style: normal;
}
